html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: 'Public Sans', sans-serif;
  font-size: $font-med;
  color: $grayishBlue;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

//Flexbox

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

//Buttons
button,
.button {
  padding: 0.875rem 2.1875rem;
  background: linear-gradient(to right, $limeGreen, $brightCyan);
  border: none;
  border-radius: 3.125rem;
  cursor: pointer;
  color: $lightGrayishBlue;
  font-size: $font-sm;
  font-weight: 700;
  transition: opacity 300ms ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

//Visibility
.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
