.header {
  nav {
    padding: 24px;
  }

  &__logo {
    img {
      width: 8.8125rem;
      height: 1.375rem;
    }
  }

  &__menu {
    //mobile menu
  }

  &__links {
    a {
      color: $grayishBlue;
      font-size: $font-sm;
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
}
